* {
  margin: 0;
  padding: 0;
}

/*----GLOBAL----*/
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

.container {
  margin:0 !important;
  padding: 0 !important;
  }

h2 {
  font-weight: bold !important;
  color: black;
  font-family: Roboto !important;
  margin-bottom: 8px;
  padding: 0;
  }

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 3.2rem;
  }

.underline {
  border: 5px solid #8b37f7;
  width: 72px;
  }

.content-fluid .row {
  margin: 0 0 90px 0;
  }

  .row .photo {
  margin-bottom: 40px;
  }

@media only screen and (max-width:1024px) {
  .wrapper {
    width: 100% !important;
    padding: 0 0 !important;
  }
}
/*----END GLOBAL----*/

/*----HEADER----*/
header {
  padding: 10px 0 0 0;
  background-color: #2f2f2f;
  display: flex;
  justify-content: center;
  height: 13rem !important;
}

/*Logo*/
.logo {
  position: relative;/*----------------Important------*/
  z-index: 25 !important;
  top: 1.05rem;
  width: 0px;
  height: 0;
}

header .logo img {
  height: 16rem;
  max-width: auto;
}

@media only screen and (max-width: 1024px) {
  .logo {
    display: none;
  }

  #mydropdown {
    background-color: #2f2f2f;
  }
}

.brand_logo {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 95;
}

.brand_logo #computer {
  width: 36rem;
  max-height: auto;
  padding-top: 1%;
}

@media only screen and (min-width: 480px) {
  .brand #mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .brand #computer {
    display: none;
  }

  header {
    height: 17rem;
  }

  .brand #mobile {
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center !important;
  }

  .brand #mobile img {
    max-width: 100%;
    max-height: 100%;
  }
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1.3rem;
  z-index: 8;
}

.navbar-brand {
  margin-left: 12px !important;
  opacity: 0;
}

@media only screen and (min-width: 800px) {
 .navbar-nav.navbar-nav#test {
   position: absolute;
   left: 50%;
   transform: translatex(-50%);
  }
}
/*----END HEADER----*/

/*NAV*/
nav {
  background-color: #2f2f2f !important;
  color: #ffff;
  border: 1px solid #2f2f2f !important;
  border-color: none!important;
  border-radius: 0 !important;
  height: 65px !important;
  margin-bottom: 0px !important;
  position: relative;
  padding: 7px;
}

.fixed-nav nav {
  position: fixed;
  top: 0px;
  box-shadow: 0 5px rgba(0,0,0,0.2);
  width: 100%;

}

nav {
  z-index: 16;
}

.navbar-nav li a {
  font-size: 1.65rem;
}

 ul {
  list-style-type: none!important;
  padding: 0!important;
  margin:0!important;
}

li.active a {
  background-color: #2f2f2f!important;
  color: #fff !important;
}

.nav-pills a:hover {
  background-color: #060606 !important;
}

li a {
  font-family: Arimo !important;
  font-weight: bold !important;
  text-decoration: none;
}

#logo2 img {
  margin-top: -15px;
  cursor: pointer;
}

/*bouton menu mydropdown*/
@media only screen and (min-width: 766px) and (max-width: 800px){
/*important device screen*/
  nav ul {
      margin-left: 17.5% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  a.btn {
    border-radius: 0;
  }
}

@media only screen and (max-width: 480px) {
  a.btn:hover {
    background-color: #141414 !important
    color: #fff;
  }

  li {
    display: flex;
    justify-content: center;
  }
}
/*----END NAV----*/

/*----CARROUSEL----*/
.carousel-indicators .active {
  background-color: #8b37f7 !important;
  border: 2px;
}

.carousel-caption h3 {
  font-family: Roboto;
  font-size: 5.3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.carousel-caption h3:hover {
  text-shadow: 2px 4px 75px #000000;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-35%);
  text-transform: uppercase;
}

.carousel-caption .btn:hover:hover,
.carousel-caption .btn:visited {
  color:#fff !important;
  background: #f63e3e !important;
  border: 2px solid #f63e3e !important;
}

@media only screen and (min-width:828px) and (max-width:1025px) {
  .carousel-caption h3 {
  font-size: 3.9rem !important;
  margin-bottom: 15px;
  }

  .carousel-caption .btn {
    font-size: 15px;
    padding: 6px 13.5px;
  }
}

@media only screen and (max-width:827px) {
  .carousel-caption .btn {
    font-size: 12px;
    padding: 4px 9px;
  }

  .carousel-caption h3 {
    font-size: 3.2rem !important;
  }
}

@media only screen (min-width:600) and (max-width:827px){

  .carousel-caption h3 {
    font-size: 8px !important;
  }
}

@media only screen and (max-width:580px) {
  .carousel-caption h3 {
    font-size: 20px !important;
  }

  .carousel-caption {
    top: 50%;
    transform: translateY(-75%);
    text-transform: uppercase;
  }
}

@media only screen and (max-width:376px) {
  .carousel-caption {
    top: 50%;
    transform: translateY(-85%);
    text-transform: uppercase;
  }
}

@media only screen and (max-width:321px) {
  .carousel-caption {
    top: 45%;
    transform: translateY(-99%);
    text-transform: uppercase;
  }
}
/*----END CARROUSEL----*/

/*----ABOUT ME----*/
#about {
  background-color: #979797;
  padding: 0;
  margin: 0;
}

.row h3 {
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 37px;
  text-transform: uppercase;
  color: white;
}

.row a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.row a:hover{
  color: red;
  text-decoration: none;
}

.row a:after{
  color: grey;
  text-decoration: none;
}


#about .btn {
  font-size: 18px;
  color:#fff;
  padding: 8px 18px;
  background: #f71212;
  border: 2px solid  #f71212;
}

#test2 {
  display: none;
  word-spacing: 0.05rem;
}

button#activate:focus {
  outline:0;
}

.row p {
  text-align: justify;
  font-family: Arimo;
  padding: 0 15px;
}

.row button {
  float: right;
  margin-top: 40px;
  margin-right: 15px;
}

@media only screen and (min-width:1023px) {
  .row .photo {
    margin-left: 65px !important;
  }
}

@media only screen and (max-width: 321px) {
  .row h3 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 376px) {
  .row h3 {
    font-size: 2.3rem !important;
  }
}

@media only screen and (max-width: 769px) {
  .row h3 {
    font-size: 2.55rem !important;
  }
}

@media only screen and (max-width: 769px) {
  .row button {
    float: none !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*----END ABOUT ME----*/

/*----PROJECTS----*/
#projects {
  background-color: #ececec;
}

.one {
  background: url("../images/colmaracademy.png") no-repeat;
  grid-area: one;
}

.two {
  background: url("../images/optique.png") no-repeat;
  grid-area: two;
}

.three {
  background: url("../images/mytime.png") no-repeat;
  background-size: cover;
  grid-area: three;
}

.four {
  background: url("../images/tea.png") no-repeat;
  background-size: cover;
  grid-area: four;
}

#grid h4 {
  margin: 0;
  padding: 0;
  color: #fff;
  opacity: 1 !important;
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
  left: 20%;
  top:45%
}

#grid a{
  text-decoration: none;
}

#grid span:hover {
  opacity: 0 !important;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#grid img {
  width:100%;
  max-height:900px;
}

#grid div{
  position: relative;
}

#grid span {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  height: 100%;
  width: 100%;
  opacity: 0.70;
  background-color: black !important;
  position:absolute;
  z-index: 2;
}

@media screen and (min-width:300px) {
  #grid {
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(130px, auto);
    grid-gap: 20px;
    display: grid;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 90px;
    grid-template-areas:
    "one"
    "one"
    "two"
    "two"
    "three"
    "three"
    "four"
    "four";
  }

  #grid h4 {
    font-size: 2.5rem;
    left: 33%;
    top: 48%;
  }
}

@media screen and (min-width:700px) and (max-width:1025px) {
  #grid {
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    display: grid;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 90px;
    grid-template-areas:
    "one one two two"
    "one one two two"
    "three three four four"
    "three three four four";
  }

  #grid h4 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width:1024px) and (max-width:1030px){
  #grid .one h4 {
    font-size: 2.8rem;
    left: 20%;
  }
}

@media screen and (min-width:1025px){
  #grid {
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    display: grid;
    margin: auto;
    margin-bottom: 90px;
    grid-template-areas:
    "one one one one two two"
    "one one one one two two"
    "three three four four two two"
    "three three four four two two";
  }

  #grid h4 {
    font-size: 3.8rem;
    z-index: 3;
    left: 20%;
    top:45%
  }

  #grid .two h4 {
    left: 30%;
  }

  #grid .three h4,
  #grid .four h4 {
    left:25%;
  }
}
/*----END PROJECTS----*/

/*----SKILLS----*/
#sk {
  margin-top: 35px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#smdevice {
  display: none;
}

@media screen and (max-width: 430px) {
  #bgdevice {
    display: none;
  }

  #smdevice {
    display: block;
    margin: 0px 20px;
  }

  #sk {
    margin-top: 25px;
  }
}
/*----END SKILLS----*/

/*----CONTACTS----*/
#contact {
  background-color: #979797;
  padding: 0;
  margin: 0;
  height: 55rem;
}

#contact .row {
  background-color: #979797;
}

#contact .text h3 {
  margin-left: 15px;
}

#contact img {
  height: 80px;
  max-width: auto;
}

#mail {
  margin: 0 !important;
  padding: 0 !important;
}

#contact a {
  text-decoration: none;
}

.email {
  display: flex;
  align-items: center;
}

.email .box h3 {
  margin-top: 25px;
  margin-left: 0;
}

@media only screen and (max-width:430px){
  #contact .box h3 {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width:1000px){

  #contact img{
    margin-left: 35%;
  }

  #contact h3 {
    text-align: center;
  }

  #contact .box h3 {
    margin-left: 15px;
  }

  .email {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width:1024px){
  .email {
    border-left: 10px solid #2f2f2f;
    padding-left: 5% !important;
  }

  #contact .row{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #contact .box {
    padding-left: 0 !important;
  }
}
/*----END CONTACTS----*/

/*---- FOOTER ----*/
footer {
  padding-top:2.6rem;
  background-color: #2f2f2f;
  height: 23rem !important;
}

footer .wrapper {
  margin-top: 2rem;
}

footer #logof {
  height: 12rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer img {
  max-width: auto;
  max-height:100%;
}

footer h5 {
  color: #666666;
  width: 100%;
  text-align: center;
  font-family: Arimo;
  font-weight: bold;
  font-size: 1.45rem;
}

 span#white {
  color: #fff;
  font-weight: 600 !important;
  font-size: 1.75rem !important;
}

 span#color {
  color: #8b37f7;
  font-weight: bolder;
  font-size: 1.95rem !important;
}

#top {
  width: 0;
  height: 0;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 3rem;
  text-decoration: none;
  background: black;
  cursor: pointer;
  color: #fff;
  padding: 14px 18px;
  border-radius: 50%;
  z-index: 35;
}

.to-top i{
  margin: 0;
  position: relative;
  left: 1px;
  top: 2px;
  font-size: 19px;
}

.to-top:hover {
  background: #979797;
  color: #2f2f2f !important;
}
